<h2 mat-dialog-title><mat-icon>lock</mat-icon>{{ 'Change Password' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm" class="password-form">
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'Current Password' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'Enter Current Password' | translate }}" formControlName="currentPassword" required>
        <mat-error *ngIf="changePasswordForm.get('currentPassword')?.invalid">
          <span *ngIf="changePasswordForm.get('currentPassword')?.errors?.required">{{ 'Please Enter' | translate }} <strong>{{ 'Current Password' | translate }}</strong></span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'New Password' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'Enter New Password' | translate }}" formControlName="newPassword" required>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid">
          <span *ngIf="changePasswordForm.get('newPassword')?.errors?.required">{{ 'Please Enter' | translate }} <strong>{{ 'New Password' | translate }}</strong></span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'Confirm New Password' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'Confirm New Password' | translate }}" formControlName="confirmNewPassword" required>
        <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.invalid">
          <span *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.required">{{ 'Please Enter' | translate }} <strong>{{ 'Confirm New Password' | translate }}</strong></span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="changePasswordForm.invalid">{{ 'Change Password' | translate }}</button>
</mat-dialog-actions>