.mat-mdc-button-base {
  margin: 4px;
}

.employee-status{
  margin-left: 30px;

}
.employee-status h1:hover{
  color: #388bea;
}

.employee {
  margin-left: 20px;
}

.check-in{
  border: 0px solid;
  border-left: 8px solid rgb(2, 120, 47);
  background-color: #383838;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  // width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.check-out{
  border: 0px solid;
  border-left: 8px solid rgb(120, 2, 2);
  background-color: #383838;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  // width: 400px;
}

.leave-users{
  border: 0px solid;
  border-left: 8px solid rgb(216, 111, 24);
  background-color: #383838;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  // width: 400px;
}
.check-in h4{
  color: rgb(2, 120, 47);
}
.check-out h4{
  color: rgb(120, 2, 2);
}
.leave-users h4{
  color: rgb(216, 111, 24);
}


.check-in h4, .check-out h4, .leave-users h4{
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.check-in .no-check-in {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.check-out .no-check-out {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.leave-users .on-leave {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.check-in .user-list,
.check-out .user-list,
.leave-users .user-list{
  padding-top: 0px;
  padding-bottom: 20px;
  list-style: none;
  align-items: center;
}

.check-in .user-list li,
.check-out .user-list li,
.leave-users .user-list li{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.check-in .user-list li:last-child,
.check-out .user-list li:last-child,
.leave-users .user-list li:last-child{
  margin-right: 0;
}

.check-in ul li img,
.check-out ul li img,
.leave-users ul li img{
  width: 70px;
  height: 70px;
  margin-bottom: 0px;
  padding: 0 0 0 0;
  border-radius: 50rem;
  margin-top: 0px;
}

.check-in ul li p,
.check-out ul li p,
.leave-users ul li p {
  font-size: 12px;
  margin: 0 0 0 0;
}


.main{
  display: flex;
  flex-direction: row;
}

.employee{
  width: 400px;
  border-radius: 1%;
flex: 1;

}
.employee h1{
  color: #8fbbed;
}


.employee h1:hover{
  color: #388bea;
}

.sidebar{
  flex: 0;
  display: flex;
  flex-direction: column;
}
.employee-birthdays{
  border: 1px solid black;
  width: 22vw;
  height: 30vh;
  background-color: #383838;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}
.upcoming-holidays{
  border: 1px solid black;
  margin-left: 10px;
  width: 22vw;
  height: 30vh;
  background-color: #383838;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.employee-birthdays,
.upcoming-holidays {
  padding: 15px;
  font-size: 14px;
  border-radius: 2px;
  margin-bottom: 10px;




}


.employee-birthdays th,
.upcoming-holidays th {
 color: #8fbbed;


}

.employee-birthdays h1{
  text-align:center;
  color: #8fbbed;


}
.employee-birthdays h1:hover,.upcoming-holidays h1:hover{
  color: #388bea;
}
.upcoming-holidays h1{
  text-align: center;
  color: #8fbbed;


}
.employee-birthdays h5 {
  text-align: center;
}

.employee-birthdays table {
  margin-left: 50px;
  margin-right: 10px;
  padding-bottom: 10px;
  border-spacing: 22px;
  background-color: #383838;
}

.upcoming-holidays h5 {
  text-align: center;
}

.upcoming-holidays table {
  margin-left: 50px;
  margin-right: 10px;
  padding-bottom: 10px;
  border-spacing: 22px;
  background-color: #383838;
}

.employee-birthdays table, .upcoming-holidays table {
  width: 70%;
  border-collapse: collapse;
  color: #dad3d3;
}

.employee-birthdays th, .employee-birthdays td, .upcoming-holidays th, .upcoming-holidays td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;

  background-color: #383838;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}